<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
{% extends 'base.html' %}
{% block content %}
<div class="container">
    <form action="">
        <div class="mb-3">
            <label class="form-label">搜索书籍:</label>
            <input type="text" name="searchBook" class="form-control"/>
        </div>
        <button type="submit" class="btn btn-primary">
            搜索
        </button>
    </form>
    搜索 {{searchTerm}}
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for book in books %}
        <div v-for="book in books" class="col">
            <div class="card">
                <img class="card-img-top" src="{{ book.image.url }}"/>
                <div class="card-body">
                    <a href="{% url 'bookdetail' book.id %}">
                        <h5 class="card-title fw-bold">{{ book.title }}</h5>
                    </a>
                    <p class="card-text">{{ book.description|truncatechars:30 }}</p>
                    {% if book.url %}
                    <a href="{{ book.url }}" class="btn btn-primary">电子书链接</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="d-flex justify-content-center align-items-center">
        {% include "pagination.html" with page=books %}
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
{% endblock content %}
</body>
</html>